/bin/
*.test
packer/manifest.json
packer/packer_cache/
crash.log
.terraform/
.terraform.lock.hcl
*.tfstate*
terraform.tfvars
*.auto.tfvars

# stray build artifact (package lives in e2e/fakeconnect/)
/fakeconnect
.idea/
